.stars {
  display: flex;
}

.star {
  font-size: 24px; 
  width: 24px; 
  height: 24px; 
  color: #d3d3d3; 
  cursor: pointer;
  background: linear-gradient(90deg, #ff285e 50%, #d3d3d3 50%);
  background-size: 200% 100%;
  background-position: 100%;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 24px; 
}



