<ion-header>
  <ion-toolbar>
<ion-title>
Dodaj hranu</ion-title>
<ion-buttons>
  <ion-button (click)="onCancel()">
 <ion-icon name="close"> 

 </ion-icon>
  </ion-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <form (ngSubmit)="dodajUpit()" #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-input
              type="text"
              label="Naziv hrane"
              label-placement="floating"
              ngModel name="naziv"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-textarea
              type="text"
              label="Id hrane"
              label-placement="floating"
              rows="1"
              ngModel name="Id"
              required
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-textarea
              type="text"
              label="Sastojci"
              label-placement="floating"
              rows="2"
              ngModel name="sastojci"
              required
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row><ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-textarea
              type="text"
              label="Kolicina"
              label-placement="floating"
              rows="1"
              ngModel name="kolicina"
              required
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-textarea
              type="text"
              label="URLslike"
              label-placement="floating"
              rows="2"
              ngModel name="url"
              required
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-textarea
              type="text"
              label="Tip Hrane"
              label-placement="floating"
              rows="1"
              ngModel name="tip"
              required
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="f.invalid">
            Dodaj hranu
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>