.hide-button {
    display: none !important; 
  }

  ion-content {
    position: relative;
  }
  
  .filter-links {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 20px; 
    width: 100%;
    padding: 10px 0; 
    
    a {
      cursor: pointer;
      text-decoration: underline;
      color: var(--ion-color-danger);    }
  }
  